.TrackInnerbox {
    background-color: #282c34;
    color: white;
    border-radius: 20px;
    border: 3px double green;
    height: 80px;
    line-height: 10px;
    text-align: left;
    padding: 0px 10px;
}

